*{
  padding:0;
  margin:0;
}

body{
  padding:0;
  margin:0;
  direction:rtl;
  font-family:'IRANSansWeb' !important  ;  
   background: 
    /* top, transparent red */ 
   #333949
    /* bottom, image */;
  background-size:cover;
  /*background-repeat: no-repeat;*/
  /*background-color:#1584d8;*/
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-position: center;
  line-height: 27px;
  color:white; 

}

@font-face {
    font-family:'IRANSansWeb';/*تعریف یک نام برای فونت*/
    src:url('../fonts/IRANSansWeb.ttf');/*اکسپلورر 9 به بعد*/
    src:local('IRANSansWeb'),/*بررسی نصب بودن فونت در سیستم کاربر*/
        local('IRANSansWeb'),/*برای برخی از مرورگرها مانند سافاری*/
        url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
        url('../fonts/IRANSansWeb.woff') format('woff'),/*مرورگر های جدید*/
        url('../fonts/IRANSansWeb.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
        url('../fonts/IRANSansWeb.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
  }


  @font-face {
      font-family:'BRoya';/*تعریف یک نام برای فونت*/
      src:url('../fonts/BRoya.ttf');/*اکسپلورر 9 به بعد*/
      src:local('BRoya'),/*بررسی نصب بودن فونت در سیستم کاربر*/
          local('BRoya'),/*برای برخی از مرورگرها مانند سافاری*/
          url('../fonts/BRoya.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
          url('../fonts/BRoya.woff') format('woff'),/*مرورگر های جدید*/
          url('../fonts/BRoya.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
          url('../fonts/BRoya.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
      font-style:normal;
      font-weight:normal;
    }
  @font-face{
    font-family:'Shin';/*تعریف یک نام برای فونت*/
      src:url('../fonts/shin.ttf');/*اکسپلورر 9 به بعد*/
      src:local('Shin'),/*بررسی نصب بودن فونت در سیستم کاربر*/
          local('Shin'),/*برای برخی از مرورگرها مانند سافاری*/
          url('../fonts/Shin.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
          url('../fonts/Shin.woff') format('woff'),/*مرورگر های جدید*/
          url('../fonts/Shin.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
          url('../fonts/Shin.svg#Shin') format('svg');/*نسخه های قدیمی سیستم عامل isolation: */
      font-style:normal;
      font-weight:normal;
  }

.main{
  background-color:transparent;
}
  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }

.sidebar{
  background-color:#474e65  ;
  padding:20px;
  position: fixed;
  left: 0;
  top: 0;
}
.logo{
  border:1px solid white;
  border-radius: 500px;
  padding:20px;
  background-color:white;
}
.logo img{
  width:160px;
  display: block;
  margin:auto;

}
.sidebar ul li {
  list-style: none;
}

.sidebar-menu{
  margin-top:10px;
}
.sidebar-menu li a{
  width:100%;
  margin-bottom: 5px;
}
.info-sidebar{
  background-color:#008aff66;  
  padding:10px;
  color:white;
  text-align: center;
  
}
.header-index-main{
  background-color:#fff3;
  margin-bottom: 5px;
}
.header-index-main img{
  max-width:1000px;
  display: block;
  margin: auto;
}
.under-header-main{
  color:#62707e;
}
.under-header-main h2{
  color:black;
}
.sidebar{
  height: 100%;
}
.under-header-main .about{
  background-color:#e9eef2;
  padding:20px;
  margin-bottom: 5px;  
  
}
.under-header-main .what-we-do{
  background-color:#008aff66;
  color:white;
}
.under-header-main .what-we-do .block{
  
}